# Node
node_modules/
.cache/
build/
dist/
tmp/
*.log
npm-debug.log*

# Env files
.env
.env.*

# Docker
Dockerfile
.dockerignore

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
terraform.tfvars
crash.log

# OS and IDE
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Git
.gitignore
